ClienteAhorcado/Connected Services/ECCI/ECCI_HolaMundo.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:ECCI_HolaMundo" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns="http://schemas.xmlsoap.org/wsdl/" name="ECCI_HolaMundo" targetNamespace="urn:ECCI_HolaMundo" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="urn:ECCI_HolaMundo" />
  </wsdl:types>
  <wsdl:message name="saludeIn">
    <wsdl:part name="nombre" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="saludeOut">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="servidorEstampillaDeTiempoIn" />
  <wsdl:message name="servidorEstampillaDeTiempoOut">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="ultimoSaludoIn" />
  <wsdl:message name="ultimoSaludoOut">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="retornaPalabraIn" />
  <wsdl:message name="retornaPalabraOut">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="saluditoIn">
    <wsdl:part name="letra" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="saluditoOut">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="palabraAdivinadaIn" />
  <wsdl:message name="palabraAdivinadaOut">
    <wsdl:part name="return" type="xsd:boolean" />
  </wsdl:message>
  <wsdl:message name="letraFallidaIn" />
  <wsdl:message name="letraFallidaOut">
    <wsdl:part name="return" type="xsd:boolean" />
  </wsdl:message>
  <wsdl:message name="obtenerCantidadErroresIn" />
  <wsdl:message name="obtenerCantidadErroresOut">
    <wsdl:part name="return" type="xsd:integer" />
  </wsdl:message>
  <wsdl:message name="juegoPerdidoIn" />
  <wsdl:message name="juegoPerdidoOut">
    <wsdl:part name="return" type="xsd:boolean" />
  </wsdl:message>
  <wsdl:message name="guardarNombreJugadorIn">
    <wsdl:part name="nombre" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="guardarNombreJugadorOut" />
  <wsdl:message name="registrarGanadorIn" />
  <wsdl:message name="registrarGanadorOut" />
  <wsdl:portType name="ECCI_HolaMundoPort">
    <wsdl:operation name="salude">
      <documentation>HolaMundo::salude() Saluda al Mundo o a $this-&gt;nombre o saluda a $nombre si $nombre no es vacío.</documentation>
      <wsdl:input message="tns:saludeIn" />
      <wsdl:output message="tns:saludeOut" />
    </wsdl:operation>
    <wsdl:operation name="servidorEstampillaDeTiempo">
      <documentation>HolaMundo::servidorEstampillaDeTiempo() Devuelve el tiempo del servidor.</documentation>
      <wsdl:input message="tns:servidorEstampillaDeTiempoIn" />
      <wsdl:output message="tns:servidorEstampillaDeTiempoOut" />
    </wsdl:operation>
    <wsdl:operation name="ultimoSaludo">
      <documentation>HolaMundo::ultimoSaludo() Devuelve el saludo guardado en la propiedad ultimo_saludo.</documentation>
      <wsdl:input message="tns:ultimoSaludoIn" />
      <wsdl:output message="tns:ultimoSaludoOut" />
    </wsdl:operation>
    <wsdl:operation name="retornaPalabra">
      <documentation>HolaMundo::retornaPalabra() Devuelve una palabra al azar de las guardadas en la base de datos.</documentation>
      <wsdl:input message="tns:retornaPalabraIn" />
      <wsdl:output message="tns:retornaPalabraOut" />
    </wsdl:operation>
    <wsdl:operation name="saludito">
      <wsdl:input message="tns:saluditoIn" />
      <wsdl:output message="tns:saluditoOut" />
    </wsdl:operation>
    <wsdl:operation name="palabraAdivinada">
      <wsdl:input message="tns:palabraAdivinadaIn" />
      <wsdl:output message="tns:palabraAdivinadaOut" />
    </wsdl:operation>
    <wsdl:operation name="letraFallida">
      <wsdl:input message="tns:letraFallidaIn" />
      <wsdl:output message="tns:letraFallidaOut" />
    </wsdl:operation>
    <wsdl:operation name="obtenerCantidadErrores">
      <wsdl:input message="tns:obtenerCantidadErroresIn" />
      <wsdl:output message="tns:obtenerCantidadErroresOut" />
    </wsdl:operation>
    <wsdl:operation name="juegoPerdido">
      <wsdl:input message="tns:juegoPerdidoIn" />
      <wsdl:output message="tns:juegoPerdidoOut" />
    </wsdl:operation>
    <wsdl:operation name="guardarNombreJugador">
      <wsdl:input message="tns:guardarNombreJugadorIn" />
      <wsdl:output message="tns:guardarNombreJugadorOut" />
    </wsdl:operation>
    <wsdl:operation name="registrarGanador">
      <wsdl:input message="tns:registrarGanadorIn" />
      <wsdl:output message="tns:registrarGanadorOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ECCI_HolaMundoBinding" type="tns:ECCI_HolaMundoPort">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="salude">
      <soap:operation soapAction="urn:ECCI_HolaMundo#HolaMundo#salude" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:ECCI_HolaMundo" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:ECCI_HolaMundo" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="servidorEstampillaDeTiempo">
      <soap:operation soapAction="urn:ECCI_HolaMundo#HolaMundo#servidorEstampillaDeTiempo" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:ECCI_HolaMundo" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:ECCI_HolaMundo" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ultimoSaludo">
      <soap:operation soapAction="urn:ECCI_HolaMundo#HolaMundo#ultimoSaludo" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:ECCI_HolaMundo" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:ECCI_HolaMundo" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="retornaPalabra">
      <soap:operation soapAction="urn:ECCI_HolaMundo#HolaMundo#retornaPalabra" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:ECCI_HolaMundo" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:ECCI_HolaMundo" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="saludito">
      <soap:operation soapAction="urn:ECCI_HolaMundo#HolaMundo#saludito" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:ECCI_HolaMundo" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:ECCI_HolaMundo" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="palabraAdivinada">
      <soap:operation soapAction="urn:ECCI_HolaMundo#HolaMundo#palabraAdivinada" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:ECCI_HolaMundo" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:ECCI_HolaMundo" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="letraFallida">
      <soap:operation soapAction="urn:ECCI_HolaMundo#HolaMundo#letraFallida" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:ECCI_HolaMundo" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:ECCI_HolaMundo" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerCantidadErrores">
      <soap:operation soapAction="urn:ECCI_HolaMundo#HolaMundo#obtenerCantidadErrores" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:ECCI_HolaMundo" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:ECCI_HolaMundo" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="juegoPerdido">
      <soap:operation soapAction="urn:ECCI_HolaMundo#HolaMundo#juegoPerdido" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:ECCI_HolaMundo" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:ECCI_HolaMundo" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="guardarNombreJugador">
      <soap:operation soapAction="urn:ECCI_HolaMundo#HolaMundo#guardarNombreJugador" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:ECCI_HolaMundo" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:ECCI_HolaMundo" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registrarGanador">
      <soap:operation soapAction="urn:ECCI_HolaMundo#HolaMundo#registrarGanador" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:ECCI_HolaMundo" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:ECCI_HolaMundo" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ECCI_HolaMundoService">
    <wsdl:port name="ECCI_HolaMundoPort" binding="tns:ECCI_HolaMundoBinding">
      <soap:address location="http://titanic.ecci.ucr.ac.cr/~eb78567/HolaMundoServiceRPCEncoded/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>